@import './varibles.scss';
.edit {
  input.date {
    border: none;
    background: none;
    background-color: $lightBG;
  }
  .buttonRow {
    display: flex;
    padding-top: 2%;
    .btn {
      border: none;
      border-radius: 5px;
      font-size: 15px;
      padding: 4%;
      flex-grow: 1;
      margin: 2%;
      font-weight: 500;
      color: $darkBG;
      text-decoration: none;
      text-align: center;
    }
  }
}
